@media screen and (width < 750px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 11dvh;
        width: 100%;
        background-color: var(--sky_background);
        z-index: 1;
    }

    .search__bar {
        display: none;
    }

    .start__info h4 {
        inline-size: 45vh;
        line-height: 18px;
    }

    .start {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start__info {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 40vh;
        transform: translateY(5vh);
    }

    .start img {
        height: 32dvh;
        width: 95dvw;
    }

    .start button {
        height: 4.5vh;
        width: 25vw;
    }

    #about {
        height: 94vh;
        width: 100%;
        gap: 2vh;
        margin-bottom: 4vh;
    }

    .about p {
        font-size: 0.95rem;
    }

    .about__container__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 15vh;
    }

    .about__container__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .about__container__info--txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .about__container__info--txt button {
        height: 4.5vh;
        width: 11vh;
        margin: 2vh;
    }

    .about__container__info img {
        height: 28vh;
        width: 88%;
    }

    #services {
        height: 111vh;
        width: 100%;
        gap: 0.5vh;
    }

    .services__container {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .services__container__items {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 65vh;
        gap: 2vh;
    }

    .services__container__items__class {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 90%;
        height: 40vh;
    }

    .services__container__items__class img {
        height: 5vh;
        width: auto;
    }

    .services button {
        position: absolute;
        width: 20vw;
        height: 3vh;
        bottom: -217vh;
    }

    #portfolio {
        height: auto;
        width: auto;
        transform: translateY(-5vh);
    }

    .portfolio__images {
        width: 95dvw;
        height: 80vh;
    }

    .portfolio__images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img1 {
        /* background-size: cover; */
        grid-row: 1 / 2;
    }

    .img3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .img6 {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }

    .footer {
        height: 90vh;
        width: 100%;
    }

    .footer__section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 6vh;
        gap: 3vh;
    }

    .footer__section--contact {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .footer__section--contact h1 {
        text-align: center;
        margin: 1vh;
    }

    .footer__section button {
        width: 20vw;
        height: 4vh;
        border-radius: 10px;
    }

    .footer__section--form .all__input {
        width: 95vw;
        height: auto;
        display: flex;
        gap: 1vh;

    }

    .footer__section--form .input__list {
        display: flex;
        flex-direction: column;
    }

    .input__list input {
        width: 55vw;
        height: 5vh;
    }

    .footer__section--form .input__message input {
        width: 85vw;
        height: 8vh;
    }

    .footer__social img {
        height: 3vh;
    }

    .footer__social__icons {
        display: flex;
        gap: 1.2vh;
    }

    .submit {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__section button {
        height: 5vh;
        width: 55vw;
        border: none;
        border-radius: 15px;
        background-color: var(--sky_background);
        color: rgb(255, 255, 255);
        font-weight: 600;
    }


    /* Arrow-up */
    .arrow-up img {
        position: fixed;
        height: 5vh;
        width: auto;
        bottom: 0;
        right: 0;
    }
}