@media screen and (width < 750px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 11dvh;
        width: 100%;
        background-color: var(--sky_background);
        z-index: 1;

        .search__bar {
            display: none;
        }

    }

    .start__info h4 {
        inline-size: 45vh;
        line-height: 18px;
    }

    .start {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start__info {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 40vh;
        transform: translateY(5vh);
    }

    .start img {
        height: 32dvh;
        width: 95dvw;
    }

    .start button {
        height: 4.5vh;
        width: 25vw;
    }

    #about {
        height: 94vh;
        width: 100%;
        gap: 2vh;
        margin-bottom: 4vh;
    }

    .about p {
        font-size: 0.95rem;
    }

    .about__container__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 15vh;
    }

    .about__container__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .about__container__info--txt {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3vh;
            transform: translateY(2vh);
        }

        .about__container__info--txt button {
            height: 4.5vh;
            width: 11vh;
        }
    }

    .about__container__info img {
        height: 28vh;
        width: 88%;
    }

    #services {
        height: 111vh;
        width: 100%;
        gap: 0.5vh;
    }

    .services__container {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        padding: 0;
        margin: 0;
    }

    .services__container__items {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70vh;
        gap: 1vh;

        .services__container__items__class {
            display: flex;
            flex-direction: column;
            gap: 2px;
            width: 90%;
            height: 30vh;

        }

        .services__container__items__class img {
            height: 5vh;
            width: auto;
        }
    }

    .services button {
        width: 20vw;
        height: 4vh;
        margin: 0;
    }


    /* Arrow-up */
    .arrow-up img {
        position: fixed;
        height: 5vh;
        width: auto;
        bottom: 0;
        right: 0;
    }
}